.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    'navbar navbar navbar navbar' 
    'section section section aside'
    'footer  footer footer  footer '
    ;

}
.border-now{
    border: 2px solid red;
    padding: 10px 20px; 
    background-color: brown;
}

nav{
    grid-area: navbar;
}
section{
    grid-area: section;
}
aside{
    grid-area: aside;
}
footer {
    grid-area: footer;
    text-align: center;
}



@media (max-width:200px) {
    body {
        background-color: aqua;
    }
    .container {
       
        grid-template-areas: 
        'navbar navbar navbar navbar' 
        'section section section section'
        'aside aside aside aside'
        'footer  footer footer  footer '
        ;
    
    }
}
@media (min-width:200px) and (max-width:400px) {
    body {
        background-color: rgb(255, 187, 0);
    }
    .container {
       
        grid-template-areas: 
        'navbar navbar navbar navbar' 
        'section section section section'
        'aside aside aside aside'
        'footer  footer footer  footer '
        ;
    
    }
    
}
@media (min-width:400px) and (max-width:800px) {
    body {
        background-color: rgb(245, 69, 16);
    }
    .container {
       
        grid-template-areas: 
        'navbar navbar navbar navbar' 
        'section section section section'
        'aside aside aside aside'
        'footer  footer footer  footer '
        ;
    
    }
    aside {
        display:none;
    }
    span {
        display: block;
        text-align: centers;
    }
    
}

@media (min-width:801px)  {
    body {
        background-color: rgb(20, 59, 235);
    }
    
}