 /*.container {
    border: 3px solid red  ;
    background-color: brown;
    color: white;
    /* display: flex; 
}

.item  {
    padding: 30px;
    margin: 20px;
    /* border: 3px solid black;
    background-color: rgb(91, 164, 173);
    justify-content: center;
    display:none ;
} 

 @media (max-width:200px) {
    #item1 {
        display: block;
        background-color: cyan;
    }
} 
 */
 
 
 /* .container li {
     display: inline;
    } */
    
    .container {
        /* margin: 5px; */
        padding: 10px;
        display: block;
        width: 200px;
        margin: auto;


    }
/* so here we want only input tag wchich has type = text  */
    input[type="text"] {
        padding: 20px;
        margin: 20px;
    }
    
    input {
        display: block;
    } 

    a[target] {
        color:grey;
        font-size: 20px; 
        /* font-family: 'Courier New', Courier, monospace; */
    }

    li:nth-child(2n+1) {
        color: cyan;
	border:2px solid red ;
        font-size: 20px;
    }
    li:nth-child(2n+0) {
        color: rgb(0, 255, 55);
        font-size: 20px;
	border:4px solid black ; 
    }

   
