.container {
    display: flex;
}

.card  {
    border: 3px solid red;
    margin:20px 10px ;
    padding: 20px 10px ;
    background-color: springgreen;
    /* box-shadow: 10px 2px 10px 15px rgb(40, 223, 223); */
    /* box-shadow: inset 20px 10px green; */
}   

.card h2 {
    text-shadow: 0px 2px rgb(34 145 197);;
}


